#panel {
  background-color: rgba(218, 218, 218, 0.116);
}

#panel .panel-button {
    border-radius: 0;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
}

#panel .clock-display:hover{
    background-color: rgba(92, 92, 92, 0.33);
    
}

#panel .clock-display:active{
    background-color: rgba(41, 41, 41, 0.60);
}


#panel .panel-button:hover{
    /* background-color: rgba(41, 41, 41, 0.33); */
    /* background: rgba(0, 0, 0, 0.0);  */
    color: rgba(124, 124, 124, 0.50); 
}

#panel .panel-button:active{
    /* background-color: rgba(41, 41, 41, 0.60); */
    /* background:rgba(0, 0, 0, 0.0);  */
     color: rgba(42, 87, 79, 0.685); 
}
