/* Topbar Translucent */
.panel {
    background-color: rgba(30, 30, 30, 0.85); /* Semi-transparent black */
    color: #ffffff;
}

/* St does not support backdrop-filter, drop shadows, or blur */
.panel-label {
    color: #ffffff;
}
