/*
 * This is your custom CSS file.
 * Styles defined here will be applied when "Enable Custom CSS Style" is on.
 * Example: Make all buttons have a blue border.
 */
button {
    border: 1px solid red;
}
