/*
  Panel: top bar/ Unity Panel test
  Use this file to confirm your extension is applying CSS correctly.
  The styles here are intentionally garish and obvious for testing purposes.
*/

/* #panel {
  background-color: rgba(218, 218, 218, 0.116);
} */

#panel .panel-button {
    border-radius: 8px;
    /* background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important; */
    padding: 0px !important;
}

/* #panel .clock-display:hover{
    background-color: rgba(92, 92, 92, 0.33);
}

#panel .clock-display:active{
    background-color: rgba(41, 41, 41, 0.60);
} */


#panel .panel-button:hover{
    
    /* background-color: rgba(128, 3, 3, 0.952); */
    /* background: rgba(0, 0, 0, 0.0);  */
    /* color: rgba(124, 124, 124, 0.50);  */
}

#panel .panel-button:active{
    /* background-color: rgba(41, 41, 41, 0.60); */
    /* background:rgba(0, 0, 0, 0.0);  */
     /* color: rgba(42, 87, 79, 0.685);  */
}
