/* Rounded Windows */
.window-frame {
    border-radius: 0px  !important;          /* Works for St windows */
    background-color: #2e2e2e  !important;   /* Solid background */
}

window {
    border-radius: 12px !important;
}


/* Avoid unsupported trailing values like 'px;' with extra chars */
