
/* Test */
/* .lesion-dock-container .show-apps {
    background-color: red;
} */


.lesion-dock-container .show-apps-vertical-margin {
    margin: 8px 0;
}
.dash-separator {
    /* Extra safety if needed */
    height: 0px !important;
}