
/* Test */
/* .lesion-dock-container .show-apps {
    background-color: red;
} */


.lesion-dock-container .show-apps-vertical-margin {
    margin: 8px 0;
}
.dash-separator {
    /* Extra safety if needed */
    height: 0px !important;
}

.app-well-app{
    background-color: blue !important;
}
.overview-icon{
    background-color: green ;
    /* border-radius: 0px; */
    /* background-color: transparent;; */
    
}
.show-apps{
    background-color: yellow !important;
}