/* Topbar Translucent */
#panel {
  background-color: transparent !important; 
  /* Existing styles for the top bar */
  /* Example: semi-transparent black */
  /* background-color: rgba(19, 18, 18, 0.5);  */
  /* Example height */
  /* height: 1.86em;  */
  /* Customize your shadow */
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);  */
  /* box-shadow: 0px 0px 1px rgba(145, 145, 145, 0.5); */

    /* Semi-transparent black */
    /* background-color: rgba(30, 30, 30, 0.85);  */
    /* color: #ffffff; */
}


/* St does not support backdrop-filter, drop shadows, or blur */
.panel-label {
    color: #ffffff;
}
